<div *ngIf="verified else loginForm">
  <ng-content></ng-content>
</div>
<ng-template #loginForm>
  <div class="row mb-3">
    <div class="col-4"></div>
    <div class="col-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input [(ngModel)]="inputPassword" type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <button (click)="verify()" type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</ng-template>
